@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inter:wght@400;500;600&family=Overpass:wght@500;600;900&display=swap');

* {
  box-sizing: border-box;
}

/* Tags */

body {
  font-family: 'Inter', 'sans-serif';
  font-weight: 500;
  color: black;
  background-color: white;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

input {
  all: unset;
}

textarea {
  all: unset;
}

/* Navigation Bar */

.navigation-bar {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.navigation-bar-links-sx,
.navigation-bar-links-dx {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation-bar-links-sx {
  justify-content: start;
  padding-left: 5%;
}

.navigation-bar-links-sx a {
  margin-left: 5%;
  margin-right: 5%;
}

.navigation-bar-links-sx-hamburger-menu {
  display: none;
  width: 25px;
  cursor: pointer;
}

.navigation-bar-brand {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigation-bar-brand a {
  font-family: 'Cookie', 'cursive';
  font-size: 50px;
  margin-left: 5%;
}

.navigation-bar-brand img {
  width: 50px;
  height: 50px;
}

.navigation-bar-links-dx {
  justify-content: end;
  padding-right: 5%;
}

.navigation-bar-links-dx a {
  margin-left: 5%;
  margin-right: 5%;
}

.navigation-bar-links-sx a:hover,
.navigation-bar-links-dx a:hover {
  transform: scale(1.1);
}

.navigation-bar-links-sx a,
.navigation-bar-links-dx a {
  font-size: 15px;
}

.navigation-bar-close, .navigation-bar-toggle {
  display: none;
}

.navigation-bar-menu, .navigation-bar-menu-show {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -85%;
  top: 0;
  width: 85%;
  height: 100%;
  background-color: white;
  padding: 6rem 3rem 0;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
  z-index: 10;
  visibility: hidden;
  transition: left 0.5s, visibility 0.5s;
  row-gap: 6%;
}

.navigation-bar-menu a, .navigation-bar-menu-show a {
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .navigation-bar-links-sx, .navigation-bar-links-dx {
    visibility: hidden;
  }

  .navigation-bar-toggle, .navigation-bar-close {
    display: flex;
    position: absolute;
    left: 20px;
    top: 2.5%;
    font-size: 2em;
    cursor: pointer;
  }

  .navigation-bar-menu-show {
    left: 0;
    visibility: visible;
  }
}

/* Footer */

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  margin-bottom: 0;
}

.footer-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-titles p:nth-child(1) {
  font-family: 'Overpass', 'sans-serif';
  font-size: 40px;
  font-weight: 900;
  color: #0BE1BD;
  margin: 10% 0 0;
}

.footer-titles p:nth-child(2) {
  font-family: 'Inter', 'sans-serif';
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-top: 0;
  margin-bottom: 15%;
}

.footer-input {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  margin-bottom: 5%;
}

.footer-input input {
  width: 60%;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  margin-right: -40px;
  padding-left: 15px;
  padding-right: 50px;
}

.footer-input-submit-button, .contact-us-content-form-textarea-submit-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0BE1BD;
  border-radius: 20px;
  cursor: pointer;
}

.footer-privacy {
  width: 100%;
  font-family: 'Inter', 'sans-serif';
  font-size: 10px;
  font-weight: 400;
  color: white;
  margin-bottom: 10%;
}

.footer-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}

.footer-links a {
  font-family: 'Inter', 'sans-serif';
  font-size: 15px;
  font-weight: 500;
  color: #0BE1BD;
  margin-left: auto;
  margin-right: auto;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}

.footer-socials img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  margin-right: 25px;
}

@media screen and (max-width: 768px) {
  .footer-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .footer-input {
    width: 80%;
  }

  .footer-privacy {
    width: 80%;
    margin-bottom: 20%;
  }

  .footer-links {
    width: 80%;
    flex-wrap: wrap;
  }

  .footer-links a {
    width: calc(30% - 5px);
    margin-bottom: 14px;
  }
}

/* Homepage */

.homepage-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.homepage-content-stack {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5%;
  padding-bottom: 65%;
  align-items: center;
  background: linear-gradient(
          rgba(255, 255, 255, 1) 0%,
          rgba(71, 230, 214, 1) 45%,
          rgba(98, 211, 215, 1) 50%,
          rgba(255, 255, 255, 1) 90%);
  background-position: 50% 200px;
  background-size: auto 95%;
  background-repeat: no-repeat;
  z-index: -1;
}

.homepage-content-stack p:nth-child(1) {
  font-family: 'Inter', 'sans-serif';
  font-size: 40px;
  font-weight: 700;
  margin-bottom: -28%;
  margin-top: 8%;
}

.homepage-content-stack span {
  font-family: 'Inter', "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
}

.homepage-content-stack p:nth-child(2) {
  font-family: 'Cookie', 'sans-serif';
  font-size: 400px;
  font-weight: 400;
  z-index: 0;
  margin-bottom: -22%;
}

.homepage-content-stack span {
  background: linear-gradient(90deg, #3CDFE2 0%, #0CE2BB 32.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.homepage-content-stack img {
  height: auto;
  width: 140%;
  z-index: 1;
}

.homepage-content-explanation, .homepage-content-sustainability {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.homepage-content-explanation {
  margin-top: -40%;
}

.homepage-content-explanation p:first-child {
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5%;
}

.homepage-content-explanation span {
  font-family: Cookie, 'sans-serif';
  font-size: 120px;
  font-weight: 400;
}

.homepage-content-explanation p:nth-child(2) {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.homepage-content-explanation-button {
  height: 80px;
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #0BE1BD;
  color: white;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Inter', 'sans-serif';
  font-size: 20px;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 25%;
  cursor: pointer;
}

.homepage-content-bottom-images {
  width: 120%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.homepage-content-bottom-images img {
  object-fit: cover;
  justify-self: center;
  align-self: center;
  margin: 0 3% 2% 0;
  border-radius: 20px;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.3);
}

.homepage-content-bottom-images img:nth-child(1) {
  margin-left: -8%;
  width: 640px;
  height: 350px;
}

.homepage-content-bottom-images img:nth-child(2) {
  width: 520px;
  height: 350px;
}

.homepage-content-bottom-images img:nth-child(3) {
  width: 580px;
  height: 350px;
}

.homepage-content-bottom-images img:nth-child(4) {
  margin-left: 10%;
  width: 440px;
  height: 350px;
}

.homepage-content-bottom-images img:nth-child(5) {
  width: 530px;
  height: 350px;
}

.homepage-content-bottom-images img:nth-child(6) {
  margin-right: -5%;
  width: 480px;
  height: 350px;
}

.homepage-content-explanation-images div:nth-child(1), .homepage-content-sustainability-images-row div:nth-child(1) {
  width: 60%;
}

.homepage-content-explanation-images div:nth-child(2), .homepage-content-sustainability-images-row div:nth-child(2) {
  width: 40%;
}

.homepage-content-sustainability p {
  text-align: center;
}

.homepage-content-sustainability p:nth-child(1) {
  margin-top: 10%;
  font-family: 'Inter', 'sans-serif';
  font-size: 60px;
  font-weight: 600;
}

.homepage-content-sustainability p:nth-child(1) span {
  margin-top: 0;
  font-family: 'Inter', 'sans-serif';
  font-size: 60px;
  font-weight: 800;
  background: linear-gradient(90deg, #3CDFE2 0%, #0CE2BB 32.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.homepage-content-sustainability p:nth-child(2) {
  width: 65%;
  margin-top: 0;
  font-family: 'Inter', 'sans-serif';
  font-size: 20px;
  font-weight: 500;
}

.homepage-content-purpose-title p {
  font-family: "Inter", "sans-serif";
  font-size: 80px;
  font-weight: 600;
  line-height: 97px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 10%;
}

.homepage-content-purpose-title p span:nth-of-type(1) {
  font-family: "Inter", "sans-serif";
  font-size: 80px;
  font-weight: 700;
  line-height: 97px;
  letter-spacing: 0;
}

.homepage-content-purpose-title p span:nth-of-type(2) {
  font-family: "Cookie", "cursive";
  font-size: 120px;
  font-weight: 400;
  line-height: 133px;
  letter-spacing: 0;
}

.homepage-content-purpose-gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  margin-bottom: 10%;
}

.homepage-content-purpose-gallery-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.homepage-content-purpose-image {
  background-size: cover;
  border-radius: 20px;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 1;
}

.homepage-content-purpose-gallery-column:first-child .homepage-content-purpose-image:first-child {
  width: 512px;
  height: 566px;
}

.homepage-content-purpose-gallery-column:first-child .homepage-content-purpose-image:last-child {
  width: 512px;
  height: 406px;
}

.homepage-content-purpose-gallery-column:last-child .homepage-content-purpose-image:first-child {
  width: 463px;
  height: 415px;
}

.homepage-content-purpose-gallery-column:last-child .homepage-content-purpose-image:last-child {
  width: 463px;
  height: 557px;
}

.homepage-content-purpose-gallery-column:first-child .homepage-content-purpose-image:first-child .homepage-content-purpose-image-overlay {
  display: flex;
  justify-content: end;
}

.homepage-content-purpose-gallery-column:first-child .homepage-content-purpose-image:last-child .homepage-content-purpose-image-overlay {
  display: flex;
  justify-content: end;
  align-items: end;
}

.homepage-content-purpose-gallery-column:last-child .homepage-content-purpose-image:first-child .homepage-content-purpose-image-overlay {
  display: flex;
  justify-content: start;
}

.homepage-content-purpose-gallery-column:last-child .homepage-content-purpose-image:last-child .homepage-content-purpose-image-overlay {
  display: flex;
  justify-content: start;
  align-items: end;
}

.homepage-content-purpose-image-text {
  width: 50%;
  font-family: "Inter", "sans-serif";
  font-weight: 700;
  font-size: 30px;
  margin: 15%;
  text-shadow:
          0 0 20px rgba(255, 255, 255, 1),
          0 0 40px rgba(255, 255, 255, 1),
          0 0 60px rgba(255, 255, 255, 1),
          0 0 80px rgba(255, 255, 255, 1);
}

.homepage-content-purpose-gallery-column:first-child .homepage-content-purpose-image .homepage-content-purpose-image-text {
  text-align: right;
}

.homepage-content-purpose-gallery-column:last-child .homepage-content-purpose-image .homepage-content-purpose-image-text {
  text-align: left;
}


/* Logo Bottom */

.logo-bottom-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.logo-bottom-container img {
  width: 50px;
  height: 50px;
}

.logo-bottom-container p {
  font-family: 'Cookie', 'cursive';
  font-size: 50px;
  margin-left: 20px;
}

/* Not Found */

.not-found-content {
  width: 100%;
  text-align: center;
}

.not-found-content p {
  font-family: 'Inter', 'sans-serif';
  font-size: 60px;
  font-weight: 500;
  margin-top: 15%;
  margin-bottom: 15%;
}

.not-found-content span:nth-child(1) {
  font-family: 'Overpass', 'cursive';
  color: #0BE1BD;
}

/* About Us */

.about-us-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.about-us-content-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-content-titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-content-titles p:nth-child(1) {
  font-family: 'Inter', 'sans-serif';
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0;
}

.about-us-content-titles p:nth-child(1) span {
  color: #0BE1BD;
}

.about-us-content-titles p:nth-child(2) {
  font-family: 'Inter', 'sans-serif';
  font-size: 20px;
  font-weight: 600;
  margin-top: 1%;
}

.about-us-content-titles p:nth-child(3) {
  font-family: 'Inter', 'sans-serif';
  font-size: 15px;
  font-weight: 500;
  margin-top: 3%;
  text-align: center;
}

.about-us-content-team {
  width: 100%;
  display: grid;
  margin-top: 10%;
  margin-bottom: 30%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 50px;
  justify-items: center;
  align-items: center;
}

.about-us-content-team-row-member {
  width: 210px;
  height: 340px;
  border-radius: 20px;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.25);
}

.about-us-content-team-row-member-image {
  width: 100%;
  height: 230px;
  border-radius: 20px;
}

.about-us-content-team-row-member-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.about-us-content-team-row-member-description {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-content-team-row-member-description p:nth-child(1) {
  font-family: 'Inter', 'sans-serif';
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 1%;
}

.about-us-content-team-row-member-description p:nth-child(2) {
  font-family: 'Inter', 'sans-serif';
  font-size: 12px;
  font-weight: 400;
  margin-top: 0;
}

.about-us-content-team-row-member-description a {
  margin-top: 2%;
}

.about-us-content-team-row-member-description a img {
  width: 20px;
  height: 20px;
}

/* Contact Us */

.contact-us-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-us-content-wrapper {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us-content-titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us-content-titles p:nth-child(1) {
  font-family: 'Inter', 'sans-serif';
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 5%;
}

.contact-us-content-titles span {
  color: #0BE1BD;
}

.contact-us-content-titles p:nth-child(2) {
  font-family: 'Inter', 'sans-serif';
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5%;
}

.contact-us-content-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20%;
}

.contact-us-content-form-inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.contact-us-content-form-inputs input {
  width: 40%;
  height: 40px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.contact-us-content-form-textarea {
  position: relative;
  width: 100%;
  margin-top: 5%;
}

.contact-us-content-form-textarea textarea {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.contact-us-content-form-inputs input, .contact-us-content-form-textarea textarea {
  font-family: 'Inter', 'sans-serif';
  font-size: 15px;
  font-weight: 400;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.contact-us-content-form-textarea-submit-button {
  /* Added style in Footer section */
  position: absolute;
  right: 5px;
  bottom: 10px;
}

/* App */

.application-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
.application-content-titles {
  width: 40%;
  text-align: center;
}

.application-content-titles p:nth-of-type(1) {
  font-family: 'Inter', 'sans-serif';
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0;
}

.application-content-titles p:nth-of-type(1) span {
  color: #0BE1BD;
}

.application-content-titles p:nth-of-type(2) {
  font-family: 'Inter', 'sans-serif';
  font-size: 15px;
  font-weight: 500;
  margin-top: 5%;
  margin-bottom: 15%;
}

.application-content-images {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.application-content-images-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.application-content-images-row:nth-of-type(1) {
  justify-content: space-between;
}

.application-content-images-row:nth-of-type(1) div:nth-of-type(1) {
  width: 60%;
}

.application-content-images-row:nth-of-type(1) div:nth-of-type(2) {
  width: 30%;
}

.application-content-images-row:nth-of-type(1) div:nth-of-type(1), .application-content-images-row:nth-of-type(1) div:nth-of-type(2) {
  height: 350px;
}

.application-content-images-row:nth-of-type(2) {
  margin-top: 3%;
}

.application-content-images-row:nth-of-type(2) div:nth-of-type(1) {
  width: 100%;
  height: 180px;
}

.application-content-images div {
  border-radius: 20px;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.25);
}

.application-content-categories {
  width: 100%;
  text-align: center;
  margin-bottom: 10%;
}

.application-content-categories p {
  font-family: 'Overpass', 'sans-serif';
  font-size: 60px;
  font-weight: 500;
}

.application-content-categories span {
  font-family: 'Overpass', 'sans-serif';
  font-size: 60px;
  font-weight: 600;
}

.application-content-categories-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.application-content-category {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', 'sans-serif';
  font-size: 25px;
  font-weight: 600;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.25);
}

.application-content-features {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/

/* Business */

.business-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.business-content-titles {
  width: 70%;
  text-align: center;
  margin-bottom: 5%;
}

.business-content-titles p:nth-of-type(1) {
  font-family: 'Inter', 'sans-serif';
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0;
}

.business-content-titles span {
  color: #0BE1BD;
}

.business-content-row {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.business-content-row-image {
  min-width: 50%;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.business-content-row-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.25);
}

.business-content-row-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.business-content-row:nth-child(3) .business-content-row-text {
  align-items: end;
  text-align: right;
}

.business-content-row-text p:nth-of-type(1) {
  font-family: 'Inter', 'sans-serif';
  font-weight: 600;
  font-size: 25px;
}

.business-content-row-text p:nth-of-type(2) {
  font-family: 'Inter', 'sans-serif';
  font-weight: 400;
  font-size: 13px;
}

/* Sustainability */

.sustainability-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sustainability-content-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sustainability-content-titles {
  width: 50%;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.sustainability-content-titles p:nth-of-type(1) {
  font-family: 'Inter', 'sans-serif';
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10%;
}

.sustainability-content-titles span {
  background: linear-gradient(to right, #0BE1BD, #0BE1BD8B, #0BD4DF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.sustainability-content-titles p:nth-of-type(2) {
  font-family: 'Inter', 'sans-serif';
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10%;
}

.sustainability-widget-container {
  width: 50%;
  height: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.25);
}

.sustainability-widget-bigger-section {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sustainability-widget-bigger-section p {
  margin: 0;
}

.sustainability-widget-bigger-section p:nth-of-type(1) {
  font-family: "Inter", "sans-serif";
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
}

.sustainability-widget-bigger-section p:nth-of-type(2) {
  font-family: "Inter", "sans-serif";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

.sustainability-widget-smaller-section {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sustainability-widget-smaller-section img {
  width: 70px;
  height: 70px;
}

.sustainability-widget-bigger-section, .sustainability-widget-smaller-section {
  padding: 50px;
}

/* Temporary */

.temporary {
  margin-top: 15%;
  margin-bottom: 15%;
}

.temporary p {
  font-size: 40px;
}

.temporary span {
  color: #0BE1BD;
}

/* Sustainability Media Queries */

@media screen and (max-width: 768px) {

  .sustainability-content-wrapper {
    width: 90%;
  }

  .sustainability-content-titles {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

@media screen and (max-width: 1720px) {

  .sustainability-widget-container {
    width: 70%;
  }

}

@media screen and (max-width: 1210px) {

  .sustainability-widget-container {
    width: 80%;
  }

  .sustainability-widget-smaller-section img {
    width: 60px;
    height: 60px;
  }

}

@media screen and (max-width: 1050px) {

  .sustainability-widget-container {
    width: 100%;
  }

  .sustainability-widget-smaller-section img {
    width: 45px;
    height: 45px;
  }

  .sustainability-widget-bigger-section p:nth-of-type(1){
    font-size: 40px;
  }

  .sustainability-widget-bigger-section p:nth-of-type(2){
    font-size: 20px;
  }

}

@media screen and (max-width: 650px){
  .sustainability-widget-bigger-section p:nth-of-type(1){
    font-size: 30px;
    line-height: 36px;
  }

  .sustainability-widget-bigger-section p:nth-of-type(2){
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (max-width: 450px){
  .sustainability-widget-bigger-section p:nth-of-type(1){
    font-size: 26px;
    line-height: 28px;
  }

  .sustainability-widget-bigger-section p:nth-of-type(2){
    font-size: 13px;
    line-height: 18px;
  }
}

/* Homepage Media Queries */

@media screen and (max-width: 1024px) {
  .homepage-content-stack {
    padding-bottom: 50%;
    margin-bottom: -10%;
    background-size: auto 85%;
  }

  .homepage-content-stack p:first-child {
    width: 100%;
    font-size: 40px;
    text-align: center;
    right: auto;
    margin-bottom: -35%;
  }

  .homepage-content-stack p:nth-child(2) {
    font-size: 300px;
  }

  .homepage-content-stack img {
    margin-top: -5%;
  }

  .homepage-content-explanation, .homepage-content-sustainability {
    width: 90%;
    margin-bottom: 5%;
  }

  .homepage-content-explanation p:first-child {
    margin-bottom: 0;
    margin-top: 20%;
  }

  .homepage-content-sustainability p:nth-child(1) {
    margin-bottom: 10%;
    font-size: 40px;
    width: 90%;
  }

  .homepage-content-sustainability p:first-child span {
    font-size: 40px;
  }

  .homepage-content-explanation p {
    margin-top: 10%;
  }

  .homepage-content-explanation-button, .homepage-content-sustainability-button {
    height: 70px;
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 20%;
  }

  .homepage-content-bottom-images img:nth-child(3), .homepage-content-bottom-images img:nth-child(6) {
    display: none;
  }

  .homepage-content-bottom-images img:nth-child(1) {
    margin-left: -30%;
  }

  .homepage-content-bottom-images img:nth-child(2) {
    margin-right: 0;
  }

  .homepage-content-bottom-images img:nth-child(5) {
    margin-right: -20%;
  }

  .homepage-content-sustainability-images-row:last-child {
    margin-bottom: 30%;
  }

  .homepage-content-purpose-gallery-column:first-child .homepage-content-purpose-image:first-child {
    width: 350px;
    height: 450px;
  }

  .homepage-content-purpose-gallery-column:first-child .homepage-content-purpose-image:last-child {
    width: 350px;
    height: 400px;
  }

  .homepage-content-purpose-gallery-column:last-child .homepage-content-purpose-image:first-child {
    width: 350px;
    height: 360px;
  }

  .homepage-content-purpose-gallery-column:last-child .homepage-content-purpose-image:last-child {
    width: 350px;
    height: 490px;
  }
}

@media screen and (max-width: 800px) {
  .homepage-content-purpose-gallery {
    flex-direction: column;
  }

  .homepage-content-purpose-gallery-column {
    align-items: center;
  }

  .homepage-content-purpose-image {
    margin-bottom: 8%;
  }
}

@media screen and (max-width: 600px) {
  .homepage-content-stack {
    padding-bottom: 80%;
    background-position: 50% 170px;
  }

  .homepage-content-stack p:first-child {
    font-size: 30px;
  }

  .homepage-content-stack p:first-child span {
    font-size: 30px;
  }

  .homepage-content-stack p:nth-child(2) {
    font-size: 200px;
    z-index: 0;
    margin-top: 40%;
    margin-bottom: -25%;
  }

  .homepage-content-stack img {
    width: 160%;
    z-index: 1;
  }

  .homepage-content-explanation p:first-child {
    font-size: 60px;
  }

  .homepage-content-explanation p:nth-child(2) {
    font-size: 25px;
    line-height: 30.26px;
    margin-bottom: 20%;
  }

  .homepage-content-explanation span {
    font-size: 90px;
  }

  .homepage-content-explanation div {
    margin-bottom: 30%;
  }

  .homepage-content-bottom-images img:nth-child(1) {
    height: 280px;
    width: 200px;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 6%;
    object-position: 80% 50%;;
  }

  .homepage-content-bottom-images img:nth-child(2) {
    height: 280px;
    width: 300px;
    margin-bottom: 6%;
    object-position: right;
  }

  .homepage-content-bottom-images img:nth-child(4) {
    width: 260px;
    height: 280px;
    margin-right: 5%;
    margin-left: -20%;
  }

  .homepage-content-bottom-images img:nth-child(5) {
    width: 220px;
    height: 280px;
  }

  .homepage-content-sustainability p:nth-child(1) {
    width: 80%;
    font-size: 40px;
    margin-top: 35%;
    margin-bottom: 15%;
  }

  .homepage-content-sustainability p:nth-child(1) span {
    font-size: 40px;
  }

  .homepage-content-sustainability p:nth-child(2) {
    width: 70%;
    font-size: 20px;
    margin-bottom: 20%;
  }

  .homepage-content-purpose-title p {
    font-size: 60px;
  }


  .homepage-content-purpose-title p span:first-child {
    font-size: 60px;
  }


  .homepage-content-purpose-title p span:last-child {
    font-size: 100px;
  }
}

@media screen and (max-width: 1470px) {
  .homepage-content-bottom-images {
    width: 160%;
  }
}

@media screen and (max-width: 1300px) {
  .homepage-content-bottom-images {
    width: 150%;
  }
}

@media screen and (max-width: 1200px) {
  .homepage-content-bottom-images {
    width: 160%;
  }
}

@media screen and (max-width: 1100px) {
  .homepage-content-bottom-images {
    width: 200%;
  }
}

@media screen and (max-width: 1024px) {
  .homepage-content-bottom-images {
    width: 120%;
  }
}

@media screen and (max-width: 760px) {
  .homepage-content-bottom-images {
    width: 140%;
  }
}

@media screen and (max-width: 655px) {
  .homepage-content-bottom-images {
    width: 160%;
  }
}

@media screen and (max-width: 600px) {
  .homepage-content-bottom-images {
    width: 110%;
  }
}

@media screen and (max-width: 500px) {
  .homepage-content-bottom-images {
    width: 120%;
  }
}

@media screen and (max-width: 470px) {
  .homepage-content-bottom-images {
    width: 130%;
  }
}

@media screen and (max-width: 440px) {
  .homepage-content-bottom-images {
    width: 150%;
  }
}

@media screen and (max-width: 360px) {
  .homepage-content-sustainability p:first-child {
    font-size: 30px;
  }

  .homepage-content-sustainability p:first-child span {
    font-size: 30px;
  }

  .homepage-content-bottom-images {
    width: 100%;
  }

  .homepage-content-bottom-images img:nth-child(1) {
    display: none;
  }

  .homepage-content-bottom-images img:nth-child(2) {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -30%;
    margin-right: 5%;
  }

  .homepage-content-bottom-images img:nth-child(3) {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -40%;
  }

  .homepage-content-bottom-images img:nth-child(4) {
    display: none;
  }
}

/* About Us Media Queries */

@media screen and (max-width: 1024px) {
  .about-us-content-wrapper {
    width: 70%;
  }
  .about-us-content-team {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .about-us-content-titles {
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 600px){
  .about-us-content-titles p:nth-child(3) {
    width: 80%;
    margin-top: 15%;
  }

  .about-us-content-team-row-member {
    margin-bottom: 15%;
  }

  .about-us-content-team {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    margin-bottom: 60%;
  }
}

/* Contact Us Media Queries */

@media screen and (max-width: 1600px) {

  .contact-us-content-wrapper {
    width: 45%;
  }

}

@media screen and (max-width: 1024px) {

  .contact-us-content-wrapper {
    width: 55%;
  }

}

@media screen and (max-width: 900px) {

  .contact-us-content-wrapper {
    width: 65%;
  }

}

@media screen and (max-width: 600px) {

  .contact-us-content-form-inputs {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-us-content-form-inputs input{
    width: 93%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-us-content-titles p:nth-child(1) {
    font-size: 40px;
  }

  .contact-us-content-titles p:nth-child(2) {
    font-size: 15px;
    margin-bottom: 10%;
  }

}

/* Business Media Queries */

@media screen and (max-width: 1024px) {
  .business-content-titles p:nth-of-type(1) {
    margin-bottom: 20%;
  }

  .business-content-row {
    width: 80%;
    margin-bottom: 10%;
  }

  .business-content-row-image {
    width: 50%;
    margin-top: 0;
  }

  .business-content-row-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .business-content-row-text {
    width: 45%;
    display: flex;
  }

  .business-content-row-text p:nth-of-type(1) {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .business-content-titles p:nth-of-type(1) {
    font-size: 40px;
  }

  .business-content-row {
    flex-direction: column !important;
    margin-bottom: 20%;
  }

  .business-content-row-image {
    width: 80%;
  }

  .business-content-row-text {
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 8%;
  }

  .business-content-row:nth-child(3) .business-content-row-text {
    align-items: center;
    text-align: center;
  }

  .business-content-row:last-child {
    margin-bottom: 40%;
  }
}